body {
  font-family: arial;
  background-color: rgb(90,90,90);}
h1 {
  font-family: verdana;
  position: relative;
  top: 10px;
  left: 165px;
  color: white;
  heigh: 80%;
  width: 80%;
  background-color: rgb(200,25,127);
  border-radius: 10px;
  padding: 20px; 
  text-align: center;
}
h2 {
  font-family: verdana;
  position: relative;
  top: 15px;
  left: 165px;
  color: white;
  heigh: 80%;
  width: 80%;
  background-color: rgb(96,150,70);
  border-radius: 10px;
  padding: 20px; 
}
div {
  position: relative;
  top: 2px;
  left: 165px;
  heigh: 80%;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
dl {
  position: relative;
  top: 2px;
  left: 165px;
  heigh: 80%;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 20px; 
}
